{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Nonprofit Verifier{% endblock title %}</title>
    <meta charset="UTF-8">
    {% block extra_head %}
        <meta name="description" content='Nonprofit Verifier for Code For Dayton'>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'main/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
<body class="font-sans-serif leading-normal tracking-normal">
    {% block content %}
    {% endblock %}
</body>
</html>
