{% extends "main/base.html" %}
{% block content %}
    {% include "main/components/header.html" %}
    <h1>Nonprofit Verifier</h1>
    <p>TL;DR - Spend less than 5 minutes to verify if a Dayton area nonprofit needs volunteers</p>
    {% if nonprofit %}
    <a href="{% url 'detail' nonprofit.id %}">Try one!</a>
    {% endif %}
    <p>Code For Dayton is partnering with DaytonServes to make it easier to match nonprofits with volunteers. There are literally thousands of nonprofits in the Dayton area. A small percent of them want external volunteers. The primary purpose of this site is to find them so that we can highlight them.</p>
    <p>A secondary purpose of the site is to find where <em>Code For Dayton</em> can help. We want to identify those nonprofits that need support in the form of websites, social media, etc.</p>
    <p>The process of verifying a nonprofit is simple. You'll perform a search and capture your results. Most nonprofits will probably take a minute or less.</p>
    <p>Thank you in advance for your help!</p>
    {% if nonprofit %}
    <a href="{% url 'detail' nonprofit.id %}">Try one!</a>
    {% endif %}

    {% include "main/components/footer.html" %}
{% endblock %}
